@charset "UTF-8";
/* ==========================================================================
    Foundation
========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
body {
  font-size: 16px;
  font-size: 1rem;
  color: #3e2b00;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
}

a:hover {
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
}

a:focus,
*:focus {
  outline: none;
}

a,
a:visited {
  color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  vertical-align: top;
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* form */
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  display: block;
}

fieldset {
  margin: 0;
  border: none;
}

legend {
  display: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* ==========================================================================
    Layout
========================================================================== */
.l_container {
  position: relative;
}

@media (max-width: 999px) {
  .l_container {
    padding-top: 70px;
  }
}

@media (min-width: 1000px) {
  .l_container {
    padding-top: 100px;
  }
}

.l_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

@media (max-width: 999px) {
  .l_header {
    height: 70px;
  }
}

@media (min-width: 1000px) {
  .l_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    padding: 0 32px 0 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
}

.l_header a {
  text-decoration: none;
}

.l_header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  background-color: #fff;
}

@media (min-width: 1000px) {
  .l_header__inner {
    height: 100px;
    padding: 0;
  }
}

.l_header__logo {
  width: 160px;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.l_header__logo:hover {
  opacity: 0.7;
}

.l_header__logo:hover img {
  background-color: rgba(255, 255, 255, 0.01);
}

@media (min-width: 1000px) {
  .l_header__logo {
    width: 240px;
  }
}

.l_header__logo svg {
  width: 160px;
  height: 40px;
}

@media (min-width: 1000px) {
  .l_header__logo svg {
    width: 240px;
    height: 60px;
  }
}

.l_header__path {
  width: 100%;
  height: auto;
  fill: #3e2b00;
}

.l_header._open .l_header__path {
  fill: #fff;
}

.l_header .l_gnav {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

@media (min-width: 1000px) {
  .l_header .l_gnav {
    opacity: 1;
  }
}

.l_header .header-btn {
  z-index: 500;
  width: 32px;
  padding-right: 5px;
  background: none;
  display: block;
  height: 20px;
}

@media (min-width: 1000px) {
  .l_header .header-btn {
    display: none;
  }
}

.l_header .header-btn span {
  position: relative;
  display: block;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.l_header .header-btn span::before,
.l_header .header-btn span::after {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.l_header .header-btn span::before {
  top: -10px;
}

.l_header .header-btn span::after {
  bottom: -10px;
}

body.is-openMenu .l_header__path {
  fill: #fff;
}

body.is-openMenu .header-btn span {
  background: transparent;
}

body.is-openMenu .header-btn span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
}

body.is-openMenu .header-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
}

body.is-openMenu .header-gnav {
  right: 0;
}

@media (max-width: 999px) {
  body.is-openMenu {
    position: fixed;
    background-color: #a18f67;
    pointer-events: auto;
  }
}

body.is-openMenu .l_header__inner {
  background-color: transparent;
}

@media (max-width: 999px) {
  body.is-openMenu .l_header__logo {
    color: #fff;
  }
}

body.is-openMenu .l_gnav {
  pointer-events: auto;
  opacity: 1;
  height: calc(100vh - 70px);
  background-color: #a18f67;
}

@media (min-width: 1000px) {
  body.is-openMenu .l_gnav {
    display: none;
  }
}

.l_gnav {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 999px) {
  .l_gnav {
    padding-top: 40px;
  }
}

@media (min-width: 1000px) {
  .l_gnav {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

.l_gnav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

@media (min-width: 1000px) {
  .l_gnav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100px;
  }
}

.l_gnav__item {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .l_gnav__item {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (max-width: 999px) {
  .l_gnav__item + .l_gnav__item {
    margin-top: 26px;
  }
}

.l_gnav__item a {
  position: relative;
  display: block;
  padding: 0 20px;
  color: #fff;
  text-align: center;
}

@media (min-width: 1000px) {
  .l_gnav__item a {
    color: #9b875a;
  }
}

.l_gnav__item._cart {
  margin-left: 16px;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 24px;
}

@media (min-width: 1000px) {
  .l_gnav__item._cart {
    border-color: #9b875a;
    border-radius: 20px;
  }
}

.l_gnav__item._cart a {
  width: 250px;
  padding: 0;
  line-height: 48px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .l_gnav__item._cart a {
    width: 136px;
    line-height: 36px;
  }
}

.l_gnav__item._cart a:hover {
  color: #fff;
  background-color: #9b875a;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.l_breadcrumb {
  padding: 16px 20px 22px;
  background-color: #e2ded4;
}

@media (min-width: 1000px) {
  .l_breadcrumb {
    padding: 16px 40px 22px;
  }
}

.l_breadcrumb__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l_breadcrumb__item {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Lato", sans-serif;
  margin-top: 6px;
}

.l_breadcrumb__item + .l_breadcrumb__item::before {
  margin: 0 0.5em;
  content: "/";
}

.l_breadcrumb__item a {
  text-decoration: none;
}

.l_breadcrumb__item a:hover {
  opacity: 0.5;
}

.l_breadcrumb__item strong {
  line-height: 1;
}

.l_main {
  width: 100%;
  min-height: 500px;
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #ebe9e4;
}

@media (min-width: 1000px) {
  .l_main {
    padding-top: 20px;
    padding-bottom: 85px;
  }
}

.l_footer {
  position: relative;
  background-color: #3e2b00;
}

.l_footer__copy {
  font-size: 10px;
  font-size: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 30px;
  color: #fff;
}

@media (min-width: 1000px) {
  .l_footer__copy {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: inherit;
  }
}

.l_footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 200px;
  padding: 24px 30px 20px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .l_footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1280px;
    padding: 30px 50px;
  }
}

.l_footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .l_footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.l_footer__navBody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.l_footer__navBody + .l_footer__navBody {
  margin-top: 30px;
}

@media (min-width: 1000px) {
  .l_footer__navBody + .l_footer__navBody {
    margin-top: inherit;
    margin-left: 50px;
  }
}

.l_footer__navName {
  color: #958154;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 6px;
}

@media (max-width: 719px) {
  .l_footer__navName {
    width: 7em;
  }
}

.l_footer__navList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .l_footer__navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 28px;
  }
}

.l_footer__navItem {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 6px;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .l_footer__navItem + .l_footer__navItem {
    margin-top: 6px;
  }
}

@media (max-width: 999px) {
  .l_footer__navItem + .l_footer__navItem::before {
    display: inline;
    color: #fff;
    content: "｜";
  }
}

.l_footer__navItem a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .l_footer__navItem a {
    padding: 6px 0;
  }
}

/* ==========================================================================
    Component
========================================================================== */
.c_cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 999px) {
  .c_cards {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (min-width: 1000px) {
  .c_cards {
    max-width: 1000px;
    margin-top: inherit;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 999px) {
  .c_cards__item {
    width: 32%;
    margin-top: 2%;
    margin-left: 2%;
  }
}

@media (min-width: 1000px) {
  .c_cards__item {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.c_cards__item:nth-child(-n + 3) {
  margin-top: 0;
}

.c_cards__item:nth-child(3n + 1) {
  margin-left: 0;
}

@media (min-width: 1000px) {
  .c_cards__item:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.c_cart {
  padding-top: 25px;
}

.c_cart__inner {
  max-width: 800px;
  margin: 0 auto;
}

.c_cart__item {
  background: #fff;
}

.c_cart__item + .c_cart__item {
  margin-top: 6px;
}

.c_cart__itemLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  text-decoration: none;
}

.c_cart__itemThumb {
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.c_cart__itemThumb img {
  -o-object-fit: cover;
  object-fit: cover;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "object-fit: cover;";
  width: auto;
  max-width: inherit;
  height: 100%;
}

.c_cart__itemBody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
}

.c_cart__itemTitle {
  margin-top: -4px;
}

.c_cart__itemPrice {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: right;
}

.c_cart__price {
  margin: 20px 20px 0;
}

@media (min-width: 1000px) {
  .c_cart__price {
    margin: 30px 0 0;
  }
}

.c_cart__priceItem {
  font-weight: bold;
  line-height: 1;
  text-align: right;
  font-size: 30px;
  font-size: 1.875rem;
}

.c_cart__priceItem + .c_cart__priceItem {
  margin-top: 16px;
}

@media (min-width: 1000px) {
  .c_cart__priceItem + .c_cart__priceItem {
    margin-top: 20px;
  }
}

.c_cart__priceText {
  font-size: 16px;
  font-size: 1rem;
  margin-right: 10px;
  font-weight: normal;
}

@media (max-width: 999px) {
  .c_detail {
    background: #fff;
  }
}

.c_detail__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .c_detail__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 80px;
  }
}

.c_detail__main {
  position: relative;
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) {
  .c_detail__main {
    max-width: 600px;
    height: 700px;
    margin-top: -20px;
  }
}

@media (min-width: 1000px) {
  .c_detail__main .swiper-container .swiper-slide {
    height: 700px;
  }
}

.c_detail__main .swiper-container .swiper-slide img {
  -o-object-fit: cover;
  object-fit: cover;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "object-fit: cover;";
  max-width: inherit;
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) {
  .c_detail__main .swiper-container .swiper-slide img {
    width: auto;
    height: 700px;
  }
}

.c_detail__main .swiper-container .swiper-button-prev,
.c_detail__main .swiper-container .swiper-button-next {
  width: 50px;
  height: 50px;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.c_detail__main .swiper-container .swiper-button-prev:hover,
.c_detail__main .swiper-container .swiper-button-next:hover {
  opacity: 0.7;
}

.c_detail__main .swiper-container .swiper-button-prev:hover img,
.c_detail__main .swiper-container .swiper-button-next:hover img {
  background-color: rgba(255, 255, 255, 0.01);
}

.c_detail__main .swiper-container .swiper-button-prev::after,
.c_detail__main .swiper-container .swiper-button-next::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(img/common/arrow.png);
  background-size: 100% auto;
}

.c_detail__main .swiper-container .swiper-button-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c_detail__main .gallery-thumbs {
  display: none;
}

@media (min-width: 1000px) {
  .c_detail__main .gallery-thumbs {
    display: block;
    position: absolute;
    max-height: 100px;
    overflow: hidden;
    width: 100%;
    max-width: 550px;
    z-index: 10;
    bottom: 0;
    left: calc(100% + 60px);
  }
}

.c_detail__main .gallery-thumbs .swiper-slide {
  width: 100px;
  height: inherit;
  margin-left: 10px;
}

.c_detail__main
  .gallery-thumbs
  .swiper-slide.swiper-slide-thumb-active::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #3e2b00;
  position: absolute;
  pointer-events: none;
  z-index: 5;
}

.c_detail__main .gallery-thumbs .swiper-slide:nth-child(1) {
  margin-left: 0;
}

.c_detail__main .gallery-thumbs .swiper-slide:hover {
  cursor: pointer;
}

.c_detail__main .gallery-thumbs .swiper-slide img {
  width: 100px;
  height: auto;
}

.c_detail__contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 20px;
}

@media (min-width: 1000px) {
  .c_detail__contents {
    padding-bottom: 70px;
    padding-left: 5%;
    margin: 0 30px;
  }
}

.c_detail__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 719px) {
  .c_detail__name {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .c_detail__name {
    margin-top: 30px;
  }
}

.c_detail__nameSub {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 10px;
  color: #9b875a;
}

@media (min-width: 1000px) {
  .c_detail__nameSub {
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: inherit;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.c_detail__nameTitle {
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
}

@media (min-width: 1000px) {
  .c_detail__nameTitle {
    font-size: 36px;
    font-size: 2.25rem;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 10px;
  }
}

.c_detail__namePrice {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: right;
}

@media (min-width: 1000px) {
  .c_detail__namePrice {
    text-align: inherit;
    font-size: 32px;
    font-size: 2rem;
    margin-top: 50px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
}

.c_detail__lead {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
  margin-top: 20px;
}

@media (max-width: 719px) {
  .c_detail__lead {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media (min-width: 1000px) {
  .c_detail__lead {
    margin: 60px 0 30px;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
}

.c_detail__btn {
  margin-top: 24px;
  max-width: 314px;
}

@media (min-width: 1000px) {
  .c_detail__btn {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
}

.c_detail__btn .e_btn {
  width: 100%;
}

.c_form {
  margin: 12px 15px 0;
}

@media (min-width: 1000px) {
  .c_form {
    width: 400px;
    margin: 60px auto 0;
  }
}

.c_form__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
}

.c_form__group + .c_form__group {
  margin-top: 34px;
}

.c_form__label {
  margin-bottom: 8px;
  font-weight: bold;
}

.c_form input[type="text"],
.c_form input[type="password"] {
  padding: 12px 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
}

.c_form input[type="text"]::-webkit-input-placeholder,
.c_form input[type="password"]::-webkit-input-placeholder {
  color: #666;
}

.c_form input[type="text"]:-ms-input-placeholder,
.c_form input[type="password"]:-ms-input-placeholder {
  color: #666;
}

.c_form input[type="text"]::-ms-input-placeholder,
.c_form input[type="password"]::-ms-input-placeholder {
  color: #666;
}

.c_form input[type="text"]::placeholder,
.c_form input[type="password"]::placeholder {
  color: #666;
}

.c_form .e_btnWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.c_form .e_btnWrap__note {
  margin-top: 20px;
  font-size: 12px;
  font-size: 0.75rem;
}

.c_kv {
  position: relative;
  overflow: hidden;
  background-color: #ded6c5;
}

@media (min-width: 1000px) {
  .c_kv {
    height: 360px;
  }
}

.c_kv__inner {
  z-index: 10;
  width: 100%;
  overflow: visible;
}

@media (min-width: 1000px) {
  .c_kv__inner {
    max-width: 1024px;
    height: 360px;
    margin: 0 auto;
  }
}

.c_kv .swiper-slide {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: inherit;
  margin: 0;
}

@media (min-width: 1000px) {
  .c_kv .swiper-slide {
    min-width: inherit;
  }
}

.c_kv .swiper-slide picture {
  width: 100%;
  height: 100%;
}

.c_kv .swiper-slide img {
  height: calc(100vh - 70px);
  width: 100%;
  height: auto;
}

.c_kv__excerpt {
  position: absolute;
  top: 130px;
  width: 100%;
  line-height: 2;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-size: 1rem;
}

@media (min-width: 1000px) {
  .c_kv__excerpt {
    top: 63%;
  }
}

.c_kv__excerpt p {
  margin: 0;
}

.c_kv .swiper-container {
  width: 100%;
  height: 100%;
}

.c_kv .swiper-pagination {
  bottom: 18px;
}

.c_kv .swiper-button-white {
  width: 50px;
  height: 50px;
  background: #000;
}

.c_kv .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
}

.c_kv .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #9b875a;
}

.c_memberLogin {
  padding-top: 40px;
}

@media (min-width: 1000px) {
  .c_memberLogin {
    padding-top: 80px;
  }
}

@media (min-width: 1000px) {
  .c_point {
    background-color: #fff;
  }
}

@media (min-width: 1000px) {
  .c_point__inner {
    max-width: 1000px;
    padding-top: 45px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
}

.c_point__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 25px;
  background: #ebe9e4;
}

@media (min-width: 1000px) {
  .c_point__list {
    padding: 36px 25px;
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.c_point__item {
  padding: 20px 20px;
}

@media (max-width: 999px) {
  .c_point__item {
    background-color: #fff;
  }
}

@media (min-width: 1000px) {
  .c_point__item {
    width: 33.33333%;
    padding: 0 20px 58px;
  }
}

.c_point__item + .c_point__item {
  border-top: 2px solid #ebe9e4;
}

@media (min-width: 1000px) {
  .c_point__item + .c_point__item {
    border-top: none;
    border-left: 2px solid #3e2b00;
  }
}

.c_point__itemTitle {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.44444;
}

@media (min-width: 1000px) {
  .c_point__itemTitle {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.c_point__itemText {
  margin-top: 10px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 719px) {
  .c_point__itemText {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

.c_recommend {
  background-color: #ebe9e4;
}

@media (min-width: 1000px) {
  .c_recommend {
    padding-top: 80px;
  }
}

.c_section__header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 28px;
}

@media (min-width: 1000px) {
  .c_section__header {
    padding-bottom: 38px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1000px) {
  .c_section__header::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #9b875a;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.c_section__headerTitle {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-align: center;
}

@media (min-width: 1000px) {
  .c_section__headerTitle {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

/* ==========================================================================
    Element
========================================================================== */
.e_btn a,
a.e_btn,
.e_btn button,
button.e_btn,
.e_btn input,
input.e_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 52px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 24px;
  font-size: 16px;
  font-size: 1rem;
}

@media (min-width: 1000px) {
  .e_btn a,
  a.e_btn,
  .e_btn button,
  button.e_btn,
  .e_btn input,
  input.e_btn {
    padding: 0 70px;
  }
}

.e_btn a + .e_btn a,
a.e_btn + .e_btn a,
.e_btn button + .e_btn a,
button.e_btn + .e_btn a,
.e_btn input + .e_btn a,
input.e_btn + .e_btn a,
.e_btn a + a.e_btn,
a.e_btn + a.e_btn,
.e_btn button + a.e_btn,
button.e_btn + a.e_btn,
.e_btn input + a.e_btn,
input.e_btn + a.e_btn,
.e_btn a + .e_btn button,
a.e_btn + .e_btn button,
.e_btn button + .e_btn button,
button.e_btn + .e_btn button,
.e_btn input + .e_btn button,
input.e_btn + .e_btn button,
.e_btn a + button.e_btn,
a.e_btn + button.e_btn,
.e_btn button + button.e_btn,
button.e_btn + button.e_btn,
.e_btn input + button.e_btn,
input.e_btn + button.e_btn,
.e_btn a + .e_btn input,
a.e_btn + .e_btn input,
.e_btn button + .e_btn input,
button.e_btn + .e_btn input,
.e_btn input + .e_btn input,
input.e_btn + .e_btn input,
.e_btn a + input.e_btn,
a.e_btn + input.e_btn,
.e_btn button + input.e_btn,
button.e_btn + input.e_btn,
.e_btn input + input.e_btn,
input.e_btn + input.e_btn {
  margin-left: 10px;
}

.e_btn + .e_btn {
  margin-left: 10px;
}

/* stylelint-disable */
.e_btn a._white,
a.e_btn._white,
.e_btn button._white,
button.e_btn._white,
.e_btn input._white,
input.e_btn._white {
  color: #000;
  background: #fff;
  border: 2px solid #000;
}

.e_btn a._white:hover,
a.e_btn._white:hover,
.e_btn button._white:hover,
button.e_btn._white:hover,
.e_btn input._white:hover,
input.e_btn._white:hover {
  color: #fff;
  background: #000;
}

.e_btn a._brown,
a.e_btn._brown,
.e_btn button._brown,
button.e_btn._brown,
.e_btn input._brown,
input.e_btn._brown {
  background-color: #3e2b00;
  color: #fff;
  border: 2px solid #3e2b00;
}

.e_btn a._brown:hover,
a.e_btn._brown:hover,
.e_btn button._brown:hover,
button.e_btn._brown:hover,
.e_btn input._brown:hover,
input.e_btn._brown:hover {
  color: #3e2b00;
  background: #fff;
}

.e_btn._w235 {
  width: 235px;
}

.e_btn._w235 a,
.e_btn._w235 button,
.e_btn._w235 input {
  width: 100%;
}

.e_btn._w460 {
  width: 100%;
}

@media (min-width: 1000px) {
  .e_btn._w460 {
    width: 460px;
  }
}

.e_btn._w460 a,
.e_btn._w460 button,
.e_btn._w460 input {
  width: 100%;
}

.e_btn._h45 a,
.e_btn._h45 button,
.e_btn._h45 input {
  height: 45px;
  border-radius: 45px;
}

@media (min-width: 1000px) {
  .e_btn._h45 a,
  .e_btn._h45 button,
  .e_btn._h45 input {
    letter-spacing: 0.18em;
  }
}

.e_btnWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.e_btnWrap._left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.e_btnWrap._center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.e_btnWrap._right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* stylelint-enable */
.e_card {
  display: block;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
}

@media (min-width: 1000px) {
  .e_card {
    border-radius: 6px;
  }
}

.e_card__link {
  display: block;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .e_card__link {
    overflow: hidden;
  }
  .e_card__link img {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

@media (min-width: 1000px) {
  .e_card__link:hover img {
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.e_card__link:hover .e_card__title {
  color: #9b875a;
}

.e_card__thumb {
  height: 33.3vw;
  overflow: hidden;
  display: block;
}

@media (min-width: 1000px) {
  .e_card__thumb {
    height: 180px;
  }
}

.e_card__thumb img {
  width: auto;
  height: 100%;
	/* オペラ用のベンダープレフィックスなんていらないのでは？ */
  -o-object-fit: cover;
  object-fit: cover;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "object-fit: cover;";
}

@media (min-width: 1000px) {
  .e_card__thumb img {
    width: 100%;
    height: auto;
  }
}

.e_card__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 80px;
  padding: 6px 10px 14px;
}

@media (min-width: 1000px) {
  .e_card__body {
    padding: 10px 16px 14px;
  }
}

.e_card__title {
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

@media (min-width: 1000px) {
  .e_card__title {
    font-size: 16px;
    font-size: 1rem;
  }
}

.e_card__price {
  line-height: 1;
  color: #9b875a;
  text-align: right;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1000px) {
  .e_card__price {
    font-size: 16px;
    font-size: 1rem;
  }
}

.e_input {
  width: 100%;
}

.e_input input[type="text"],
.e_input input[type="tel"],
.e_input input[type="number"],
.e_input input[type="date"],
.e_input input[type="time"],
.e_input input[type="password"],
.e_input input[type="email"] {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 0;
}

.e_input input[type="text"]::-webkit-input-placeholder,
.e_input input[type="tel"]::-webkit-input-placeholder,
.e_input input[type="number"]::-webkit-input-placeholder,
.e_input input[type="date"]::-webkit-input-placeholder,
.e_input input[type="time"]::-webkit-input-placeholder,
.e_input input[type="password"]::-webkit-input-placeholder,
.e_input input[type="email"]::-webkit-input-placeholder {
  color: #ccc;
}

.e_input input[type="text"]:-ms-input-placeholder,
.e_input input[type="tel"]:-ms-input-placeholder,
.e_input input[type="number"]:-ms-input-placeholder,
.e_input input[type="date"]:-ms-input-placeholder,
.e_input input[type="time"]:-ms-input-placeholder,
.e_input input[type="password"]:-ms-input-placeholder,
.e_input input[type="email"]:-ms-input-placeholder {
  color: #ccc;
}

.e_input input[type="text"]::-ms-input-placeholder,
.e_input input[type="tel"]::-ms-input-placeholder,
.e_input input[type="number"]::-ms-input-placeholder,
.e_input input[type="date"]::-ms-input-placeholder,
.e_input input[type="time"]::-ms-input-placeholder,
.e_input input[type="password"]::-ms-input-placeholder,
.e_input input[type="email"]::-ms-input-placeholder {
  color: #ccc;
}

.e_input input[type="text"]::placeholder,
.e_input input[type="tel"]::placeholder,
.e_input input[type="number"]::placeholder,
.e_input input[type="date"]::placeholder,
.e_input input[type="time"]::placeholder,
.e_input input[type="password"]::placeholder,
.e_input input[type="email"]::placeholder {
  color: #ccc;
}

.e_textarea textarea {
  width: 100%;
  min-height: 80px;
}

